<div style="margin-bottom: 10px; border-left: 1px solid #4682B4; padding-left: 10px;">
    <div style="color:#4682B4; font-size:16pt; margin-top: 5px; margin-bottom: 10px;">
        <strong>[$IX$] $TITLE$</strong>
    </div>
    <span>Proposal <b>$CODE$</b> of $DATE$</span><br />
    <span>Arguments: <span style="font-size: 10px;">$NUM_ARGUMENTS$</span> &#8226; Comments: <span style="font-size: 10px;">$NUM_COMMENTS$</span> &#8226; Supports: <span style="font-size: 10px;">$NUM_SUPPORTS$</span> &#8226; Controversy: <span style="font-size: 10px;">$CONTROVERSY$</span></span>
    <p>$SUMMARY$</p><br />
    <span>- Districts</span>: $DISTRICTS$<br />
    <span>- Categories</span>: $CATEGORIES$<br />
    <span>- Topics</span>: $TOPICS$<br />
    <p>Decide Madrid <a href="$URL$">link</a></p>
    <p><strong>Comments:</strong></p>
    <div>$COMMENTS$</div>
</div>
