<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div style="margin-bottom: 5px">
        <span>$N_REPORTS$ results in $TIME_ELAPSED_1$ ms [$CURRENT_TIME$]</span>
    </div>
    <div style="padding: 5px">
        <div style="font-family: 'Inter' !important;">$CONTENT$</div>
    </div>
    <div style="margin-top: 5px; border-top: 1px solid gray;">
        <span>Elapsed time to generate the report: $TIME_ELAPSED_2$ ms</span>
    </div>
</body>
</html>
